body {
  font-family: 'Raleway', 'sans-serif';
  text-rendering: geometricPrecision;
}

.page {
  align-items: center;
  display:flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .page {
    padding: 100px;
  }
}

.container {
  padding: 0 100px;
  max-width: 100%;
}
.container.timeline {
  padding: 0;
  padding-top: 40px;
  padding-bottom: 20vh;
  z-index: 10;
}
h1 {
  font-size: 66px;
  font-weight: 400;
  margin-bottom: 25px;
}
#tweet {
  font-size: 82px;
  font-weight: 200;
  line-height: 110px;
  white-space: pre-line;
}
.button-wrap {
  bottom: 0;
  margin: 0;
  padding: 0;
  pointer-events: none;
  position: fixed;
  width: 100vw;
  z-index: 100;
}
.red-button {
  bottom: 0px;
  left: 0px;
  position: absolute;
}
.red-button img {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}
.red-button--down {
  position: static;
  opacity: 0;
}
a.clickable-button {
  display: block;
  height: 30%;
  left: 50%;
  pointer-events: all;
  position: absolute;
  transform: translateX(-50%);
  top: 30%;
  width: 30%;
}
