body {
  font-family: 'Raleway', 'sans-serif';
  text-rendering: geometricPrecision;
}

.page {
  align-items: center;
  display:flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: 100px;
}

.container {
  padding: 0 100px;
  max-width: 100%;
}
h1 {
  font-size: 66px;
  font-weight: 500;
  margin-bottom: 10px;
}
#tweet {
  font-size: 82px;
  font-weight: 200;
  line-height: 110px;
  white-space: pre-line;
}
