<!doctype html>
<title>Fake News Bot</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bulma.css') }}" />
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}" />
<link href="https://fonts.googleapis.com/css?family=Raleway:200,400" rel="stylesheet" />
<div class="page">
  {% block body %}{% endblock %}
</div>
<script type=text/javascript src="{{ url_for('static', filename='js/reconnecting-websocket.min.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/app.js') }}"/></script>
