<!doctype html>
<title>Fake News Bot</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bulma.css') }}" />
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}" />
<div class="page">
  <h1>Fake News Bot</h1>
  {% block body %}{% endblock %}
</div>
<script type=text/javascript src="{{ url_for('static', filename='js/reconnecting-websocket.min.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/app.js') }}"/></script>
