{% extends "layout.html" %}
{% block body %}
    <div class="container timeline">
      <a
        class="twitter-timeline"
        data-chrome="noheader nofooter noborders transparent"
        href="https://twitter.com/fake_news_bot">
      </a>
    </div>
    <div class="button-wrap">
      <a class="clickable-button" id="clickableButton">
      </a>
      <div class="red-button red-button--up">
        <img src="/static/img/btn-up.png" />
      </div>
      <div class="red-button red-button--down">
        <img src="/static/img/btn-down.png" />
      </div>
    </div>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}
